* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
}

body > * {
    background-color: rgb(168, 224, 243);
    padding: 1em;
    border-radius: 0.3em;
}

header, footer {
    flex: 1 1 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    flex: 1 1 70%;
}

aside {
    flex: 1 1 25%;
}

aside li {
    list-style: none;
    padding-bottom: 0.5em;
}

a {
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav li {
    display: block;
}

nav a {
    display: block;
    padding: 1em 1.5em;
}

@media (max-width: 500px){
    body {
        flex-direction: column;
    }

    nav, ul,
    header {
        display: block;
    }
}