* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ddd;
}

main {
    flex: 1 1 auto;
}

header, main, footer {
    padding: 1.5em 2em;
    border: 1px solid black;
}

p {
    margin-bottom: 2em;
}