article{
    padding: 5px;
    border: 1px solid;
    background-color: #f2f4c0;
    margin: 15px;
}
section{
    padding: 15px;
    font-style: italic;
    color: #5c6e91;
    background-color: #e4e978;
    width: 700px;
    border: 1px solid #b2ad7d;
    margin: 10px;
}
main{
    background-color: #4c7658;
}